**Here we see the conversion of the TSQLV4 db queries to Pascal Case naming convention (kind of like camel cased) in NorthWinds...**

In [100]:
use TSQLV4
go
select * from hr.Employees

use Northwinds2022TSQLV7
go
select * from HumanResources.Employee

: Execution failed due to an unexpected error:
	Cannot connect to the database due to invalid OwnerUri (Parameter 'OwnerUri')

# `QUERY 1) Return orders placed in June 2015`

### `TABLES INVOLVED) tsqlv4 db, Sales.Order`

```
orderid     orderdate  custid      empid
----------- ---------- ----------- -----------
10555       2015-06-02 71          6
10556       2015-06-03 73          2
10557       2015-06-03 44          9
10558       2015-06-04 4           1
10559       2015-06-05 7           6
10560       2015-06-06 25          8
10561       2015-06-06 24          2
10562       2015-06-09 66          1
10563       2015-06-10 67          2
10564       2015-06-10 65          4

```
```
(30 row(s) affected)

```

In [101]:
use Northwinds2022TSQLV7
go 

select OrderId as orderid, 
    OrderDate as orderdate,
    CustomerId as custid,
    EmployeeId as empid
from Sales.[Order]
where YEAR(OrderDate) = 2015 and MONTH(OrderDate) = 6
order by orderid, orderdate, custid, empid

: Execution failed due to an unexpected error:
	Cannot connect to the database due to invalid OwnerUri (Parameter 'OwnerUri')

# `QUERY 2) Return orders placed on the last day of the month`

### `TABLES INVOLVED) tsqlv4 db, Sales.Order`

```
orderid     orderdate  custid      empid
----------- ---------- ----------- -----------
10269       2014-07-31 89          5
10317       2014-09-30 48          6
10343       2014-10-31 44          4
10399       2014-12-31 83          8
10432       2015-01-31 75          3
10460       2015-02-28 24          8
10461       2015-02-28 46          1
10490       2015-03-31 35          7
10491       2015-03-31 28          8
10522       2015-04-30 44          4

```
```
(26 row(s) affected)

```

In [3]:
use Northwinds2022TSQLV7
go

select OrderId as orderid,
    OrderDate as orderdate, 
    CustomerId as custid,
    EmployeeId as empid 
from Sales.[Order]
where EOMONTH(OrderDate) = OrderDate
order by orderid, orderdate, custid, empid

orderid,orderdate,custid,empid
10269,2014-07-31,89,5
10317,2014-09-30,48,6
10343,2014-10-31,44,4
10399,2014-12-31,83,8
10432,2015-01-31,75,3
10460,2015-02-28,24,8
10461,2015-02-28,46,1
10490,2015-03-31,35,7
10491,2015-03-31,28,8
10522,2015-04-30,44,4
10583,2015-06-30,87,2
10584,2015-06-30,7,4
10616,2015-07-31,32,1
10617,2015-07-31,32,4
10686,2015-09-30,59,2
10687,2015-09-30,37,9
10725,2015-10-31,21,4
10806,2015-12-31,84,3
10807,2015-12-31,27,4
10987,2016-03-31,19,8
10988,2016-03-31,65,3
10989,2016-03-31,61,2
11060,2016-04-30,27,2
11061,2016-04-30,32,4
11062,2016-04-30,66,4
11063,2016-04-30,37,3

# `QUERY 3)` Return employees with last name containing the letter 'e' twice or more

### `TABLES INVOLVED) HR.Employees`\`

```
empid       firstname  lastname
----------- ---------- --------------------
4           Yael       Peled
5           Sven       Mortensen

```
```
(2 row(s) affected)
```

\`

In [4]:
use Northwinds2022TSQLV7
go 

select EmployeeId as empid,
    EmployeeFirstName as firstname,
    EmployeeLastName as lastname
from HumanResources.[Employee]
where EmployeeLastName LIKE N'%e%e%'
order by empid, firstname, lastname

empid,firstname,lastname
4,Yael,Peled
5,Sven,Mortensen

# `QUERY 4)` Return orders with total value(qty\*unitprice) greater than 10000, sorted by total value

### `TABLES INVOLVED) Sales.OrderDetails`

`
```
orderid     totalvalue
----------- ---------------------
10865       17250.00
11030       16321.90
10981       15810.00
10372       12281.20
10424       11493.20
10817       11490.70
10889       11380.00
10417       11283.20
10897       10835.24
10353       10741.60
10515       10588.50
10479       10495.60
10540       10191.70
10691       10164.80
```
```
(14 row(s) affected)
```
`

In [33]:
use Northwinds2022TSQLV7
go 

select OrderId as orderid,
    --sum all total order prices for the order id
    SUM(Quantity * UnitPrice) as totalvalue 
from Sales.[OrderDetail]
--cant have this here, should be a having clause, no aggregate in WHERE unless its a subquery
--where SUM(Quantity * UnitPrice) > 10000.00

--orderid cant be in the select statement alone now that we have an aggregate,
--  because we'd be returning the same value multiple times for the same orderid
--hence the reason we should group our table by distinct orderids
group by orderid

--but we only want totalvalues > 10000! and recall why this instead of having
having SUM(Quantity * UnitPrice) > 10000

--we dont want it in that order so...
--and we can do this because our alias is now understood by the parser
order by totalvalue desc

orderid,totalvalue
10865,17250.00
11030,16321.90
10981,15810.00
10372,12281.20
10424,11493.20
10817,11490.70
10889,11380.00
10417,11283.20
10897,10835.24
10353,10741.60
10515,10588.50
10479,10495.60
10540,10191.70
10691,10164.80

# `QUERY 5)` Write a query against the HR.Employees table that returns employees with a last name that starts with a lower case letter. Remember that the collation of the sample database is case insensitive (Latin1\_General\_CI\_AS). For simplicity, you can assume that only English letters are used in the employee last names.

### `TABLES INVOLVED) Sales.OrderDetails`

\`

```
empid       lastname
----------- --------------------

```
```
(0 row(s) affected)

```

\`

In [80]:
use Northwinds2022TSQLV7
go

select EmployeeId as empid,
    EmployeeLastName as lastname
from HumanResources.Employee

--collate is our set of character and character encoding rules
--  we can change how data is matched using it in comparison statement
--  here we change our rules from CI to CS (case sensitive)
where LEFT(EmployeeLastName, 1) COLLATE Latin1_General_CS_AS LIKE N'[abcdefghijklmnopqrstuvwxyz]%'

# `QUERY 6)` Explain the difference between the following 2 queries

In [102]:
use TSQLV4
go 

--Query 1
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
WHERE orderdate < '20160501'
GROUP BY empid;

--test
-- SELECT empid, orderdate
-- FROM Sales.Orders
-- WHERE empid = 1
-- order by orderdate

--this query returns rows of individual empids (not found in more than one row as provided by GROUP BY)
    --and num of orders BEFORE 20160501 simply

-- Query 2
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY empid
HAVING MAX(orderdate) < '20160501';

--test
-- SELECT empid, COUNT(*) AS numorders, MAX(orderdate) as maxorderdate
-- FROM Sales.Orders
-- GROUP BY empid

-- ** recall we must group by for unique empid column cells, since we're using an aggregate
-- ** recall aggregate functions like max cant be in WHERE, only HAVING

--this query returns rows of individ empis, and num of orders, of ONLY the empids
-- with a MOST RECENT orderdate BEFORE than 20160501

-- ** most simply the main difference between these queries is that 
-- QUERY 1 returns ALL empids and their number of orders before May 1st 2016
-- QUERY 2 returns only the empids with a MOST RECENT order before May 1st 2016

-- their PascalCaseConvention equivalent would be..

use Northwinds2022TSQLV7

--query 1
select EmployeeId as empid,
    COUNT(*) as numorders
from Sales.[Order]
where OrderDate < '20160501'
group by EmployeeId
order by EmployeeId --not entirely necessary

--query 2
select EmployeeId as empid,
    COUNT(*) as numorders
from Sales.[Order]
group by EmployeeId
having MAX(OrderDate) < '20160501'

empid,numorders
1,118
2,94
3,127
4,154
5,42
6,67
7,70
8,101
9,43

empid,numorders
9,43
3,127
6,67
5,42

empid,numorders
1,118
2,94
3,127
4,154
5,42
6,67
7,70
8,101
9,43

empid,numorders
9,43
3,127
6,67
5,42

# `QUERY 7)` Return the three ship countries with the highest average freight for orders placed in 2015

### `TABLES INVOLVED) Sales.Orders`

```
shipcountry     avgfreight
--------------- ---------------------
Austria         178.3642
Switzerland     117.1775
Sweden          105.16

```
```
(3 row(s) affected)

```

In [121]:
use Northwinds2022TSQLV7
go

select top 3 ShipToCountry as shipcountry,
    AVG(Freight) as avgfreight
from Sales.[Order]
where YEAR(OrderDate) = 2015 --initally thought this wouldn't work, but YEAR is not an aggregate, it simply works on a datestring, not rows of cells
group by ShipToCountry
order by avgfreight desc -- got an error with top 3, bc first we have to order it by highest avgfreight

shipcountry,avgfreight
Austria,178.3642
Switzerland,117.1775
Sweden,105.16