**Here we see the conversion of the TSQLV4 db queries to Pascal Case naming convention (kind of like camel cased) in NorthWinds...**

In [1]:
use TSQLV4
go
select * from hr.Employees

use Northwinds2022TSQLV7
go
select * from HumanResources.Employee

empid,lastname,firstname,FullName,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,phone,mgrid
1,Davis,Sara,Sara Davis,CEO,Ms.,1968-12-08,2013-05-01,"7890 - 20th Ave. E., Apt. 2A",Seattle,WA,10003,USA,(206) 555-0101,NULL
2,Funk,Don,Don Funk,"Vice President, Sales",Dr.,1972-02-19,2013-08-14,9012 W. Capital Way,Tacoma,WA,10001,USA,(206) 555-0100,1
3,Lew,Judy,Judy Lew,Sales Manager,Ms.,1983-08-30,2013-04-01,2345 Moss Bay Blvd.,Kirkland,WA,10007,USA,(206) 555-0103,2
4,Peled,Yael,Yael Peled,Sales Representative,Mrs.,1957-09-19,2014-05-03,5678 Old Redmond Rd.,Redmond,WA,10009,USA,(206) 555-0104,3
5,Mortensen,Sven,Sven Mortensen,Sales Manager,Mr.,1975-03-04,2014-10-17,8901 Garrett Hill,London,NULL,10004,UK,(71) 234-5678,2
6,Suurs,Paul,Paul Suurs,Sales Representative,Mr.,1983-07-02,2014-10-17,"3456 Coventry House, Miner Rd.",London,NULL,10005,UK,(71) 345-6789,5
7,King,Russell,Russell King,Sales Representative,Mr.,1980-05-29,2015-01-02,"6789 Edgeham Hollow, Winchester Way",London,NULL,10002,UK,(71) 123-4567,5
8,Cameron,Maria,Maria Cameron,Sales Representative,Ms.,1978-01-09,2015-03-05,4567 - 11th Ave. N.E.,Seattle,WA,10006,USA,(206) 555-0102,3
9,Doyle,Patricia,Patricia Doyle,Sales Representative,Ms.,1986-01-27,2015-11-15,1234 Houndstooth Rd.,London,NULL,10008,UK,(71) 456-7890,5

EmployeeId,EmployeeLastName,EmployeeFirstName,EmployeeTitle,EmployeeTitleOfCourtesy,BirthDate,HireDate,EmployeeAddress,EmployeeCity,EmployeeRegion,EmployeePostalCode,EmployeeCountry,EmployeePhoneNumber,EmployeeManagerId
1,Davis,Sara,CEO,Ms.,1968-12-08,2013-05-01,"7890 - 20th Ave. E., Apt. 2A",Seattle,WA,10003,USA,(206) 555-0101,NULL
2,Funk,Don,"Vice President, Sales",Dr.,1972-02-19,2013-08-14,9012 W. Capital Way,Tacoma,WA,10001,USA,(206) 555-0100,1
3,Lew,Judy,Sales Manager,Ms.,1983-08-30,2013-04-01,2345 Moss Bay Blvd.,Kirkland,WA,10007,USA,(206) 555-0103,2
4,Peled,Yael,Sales Representative,Mrs.,1957-09-19,2014-05-03,5678 Old Redmond Rd.,Redmond,WA,10009,USA,(206) 555-0104,3
5,Mortensen,Sven,Sales Manager,Mr.,1975-03-04,2014-10-17,8901 Garrett Hill,London,NULL,10004,UK,(71) 234-5678,2
6,Suurs,Paul,Sales Representative,Mr.,1983-07-02,2014-10-17,"3456 Coventry House, Miner Rd.",London,NULL,10005,UK,(71) 345-6789,5
7,King,Russell,Sales Representative,Mr.,1980-05-29,2015-01-02,"6789 Edgeham Hollow, Winchester Way",London,NULL,10002,UK,(71) 123-4567,5
8,Cameron,Maria,Sales Representative,Ms.,1978-01-09,2015-03-05,4567 - 11th Ave. N.E.,Seattle,WA,10006,USA,(206) 555-0102,3
9,Doyle,Patricia,Sales Representative,Ms.,1986-01-27,2015-11-15,1234 Houndstooth Rd.,London,NULL,10008,UK,(71) 456-7890,5

# `QUERY 1) Return orders placed in June 2015`

### `TABLES INVOLVED) tsqlv4 db, Sales.Order`

```
orderid     orderdate  custid      empid
----------- ---------- ----------- -----------
10555       2015-06-02 71          6
10556       2015-06-03 73          2
10557       2015-06-03 44          9
10558       2015-06-04 4           1
10559       2015-06-05 7           6
10560       2015-06-06 25          8
10561       2015-06-06 24          2
10562       2015-06-09 66          1
10563       2015-06-10 67          2
10564       2015-06-10 65          4

```
```
(30 row(s) affected)

```

In [2]:
use Northwinds2022TSQLV7
go 

select OrderId as orderid, 
    OrderDate as orderdate,
    CustomerId as custid,
    EmployeeId as empid
from Sales.[Order]
where YEAR(OrderDate) = 2015 and MONTH(OrderDate) = 6
order by orderid, orderdate, custid, empid

orderid,orderdate,custid,empid
10555,2015-06-02,71,6
10556,2015-06-03,73,2
10557,2015-06-03,44,9
10558,2015-06-04,4,1
10559,2015-06-05,7,6
10560,2015-06-06,25,8
10561,2015-06-06,24,2
10562,2015-06-09,66,1
10563,2015-06-10,67,2
10564,2015-06-10,65,4
10565,2015-06-11,51,8
10566,2015-06-12,7,9
10567,2015-06-12,37,1
10568,2015-06-13,29,3
10569,2015-06-16,65,5
10570,2015-06-17,51,3
10571,2015-06-17,20,8
10572,2015-06-18,5,3
10573,2015-06-19,3,7
10574,2015-06-19,82,4
10575,2015-06-20,52,5
10576,2015-06-23,80,3
10577,2015-06-23,82,9
10578,2015-06-24,11,4
10579,2015-06-25,45,1
10580,2015-06-26,56,4
10581,2015-06-26,21,3
10582,2015-06-27,6,3
10583,2015-06-30,87,2
10584,2015-06-30,7,4

# `QUERY 2) Return orders placed on the last day of the month`

### `TABLES INVOLVED) tsqlv4 db, Sales.Order`

```
orderid     orderdate  custid      empid
----------- ---------- ----------- -----------
10269       2014-07-31 89          5
10317       2014-09-30 48          6
10343       2014-10-31 44          4
10399       2014-12-31 83          8
10432       2015-01-31 75          3
10460       2015-02-28 24          8
10461       2015-02-28 46          1
10490       2015-03-31 35          7
10491       2015-03-31 28          8
10522       2015-04-30 44          4

```
```
(26 row(s) affected)

```

In [3]:
use Northwinds2022TSQLV7
go

select OrderId as orderid,
    OrderDate as orderdate, 
    CustomerId as custid,
    EmployeeId as empid 
from Sales.[Order]
where EOMONTH(OrderDate) = OrderDate
order by orderid, orderdate, custid, empid

orderid,orderdate,custid,empid
10269,2014-07-31,89,5
10317,2014-09-30,48,6
10343,2014-10-31,44,4
10399,2014-12-31,83,8
10432,2015-01-31,75,3
10460,2015-02-28,24,8
10461,2015-02-28,46,1
10490,2015-03-31,35,7
10491,2015-03-31,28,8
10522,2015-04-30,44,4
10583,2015-06-30,87,2
10584,2015-06-30,7,4
10616,2015-07-31,32,1
10617,2015-07-31,32,4
10686,2015-09-30,59,2
10687,2015-09-30,37,9
10725,2015-10-31,21,4
10806,2015-12-31,84,3
10807,2015-12-31,27,4
10987,2016-03-31,19,8
10988,2016-03-31,65,3
10989,2016-03-31,61,2
11060,2016-04-30,27,2
11061,2016-04-30,32,4
11062,2016-04-30,66,4
11063,2016-04-30,37,3

# `QUERY 3)` Return employees with last name containing the letter 'e' twice or more

### `TABLES INVOLVED) HR.Employees`\`

```
empid       firstname  lastname
----------- ---------- --------------------
4           Yael       Peled
5           Sven       Mortensen

```
```
(2 row(s) affected)
```

\`

In [4]:
use Northwinds2022TSQLV7
go 

select EmployeeId as empid,
    EmployeeFirstName as firstname,
    EmployeeLastName as lastname
from HumanResources.[Employee]
where EmployeeLastName LIKE N'%e%e%'
order by empid, firstname, lastname

empid,firstname,lastname
4,Yael,Peled
5,Sven,Mortensen

# `QUERY 4)`Return orders with total value(qty\*unitprice) greater than 10000, sorted by total value

### `TABLES INVOLVED) Sales.OrderDetails`

`
```
orderid     totalvalue
----------- ---------------------
10865       17250.00
11030       16321.90
10981       15810.00
10372       12281.20
10424       11493.20
10817       11490.70
10889       11380.00
10417       11283.20
10897       10835.24
10353       10741.60
10515       10588.50
10479       10495.60
10540       10191.70
10691       10164.80
```
```
(14 row(s) affected)
```
`

In [33]:
use Northwinds2022TSQLV7
go 

select OrderId as orderid,
    --sum all total order prices for the order id
    SUM(Quantity * UnitPrice) as totalvalue 
from Sales.[OrderDetail]
--cant have this here, should be a having clause, no aggregate in WHERE unless its a subquery
--where SUM(Quantity * UnitPrice) > 10000.00

--orderid cant be in the select statement alone now that we have an aggregate,
--  because we'd be returning the same value multiple times for the same orderid
--hence the reason we should group our table by distinct orderids
group by orderid

--but we only want totalvalues > 10000! and recall why this instead of having
having SUM(Quantity * UnitPrice) > 10000

--we dont want it in that order so...
--and we can do this because our alias is now understood by the parser
order by totalvalue desc

orderid,totalvalue
10865,17250.00
11030,16321.90
10981,15810.00
10372,12281.20
10424,11493.20
10817,11490.70
10889,11380.00
10417,11283.20
10897,10835.24
10353,10741.60
10515,10588.50
10479,10495.60
10540,10191.70
10691,10164.80